@import url('https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

:root {
	--thin: 100;
    --extra-light: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 900;
    --redColor: #F85C50;
    --orangeColor: #FFA96B;
    --yellowColor: #FFD600;
    --greenColor: #00DFC8;
    --blueColor: #1771F1;
    --grayColor: #939598;
    --principalColor: #01142F;
    --mediumGrayColor: #D7E1E9;
    --lightGrayColor: #F2F8FD;
}

body, html {
	scroll-behavior: smooth;
}

html, body, div, input, p, span, h1, h2, h3, h4, h5, h6, ul, li, header, section, select, article, button, a, textarea {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	background: transparent;
	font-family: 'Barlow', sans-serif;
	text-decoration: none;
	transition: 0.5s ease all;
}

.fullContainer {
	display: flex;
	position: relative;
	box-sizing: border-box;
	overflow-x: hidden;
	max-width: 2000px;
	margin: 0 auto;
	flex-direction: column;
	scroll-behavior: smooth;
}

.boxModel {
	position: relative;
	box-sizing: border-box;
	display: block;
}

.boxModelFlex {
	position: relative;
	box-sizing: border-box;
	display: flex;
}

.boxModelGrid {
	position: relative;
	box-sizing: border-box;
	display: grid;
}

h1,h2,h3,h4,h5,h6,p,span,a {
	color: var(--principalColor);
	display: block;
	box-sizing: border-box;
	position: relative;
}

h1 {
	position: relative;
	box-sizing: border-box;
	display: block;
	font-size: 32px;
}

h2 {
	position: relative;
	box-sizing: border-box;
	display: block;
	font-size: 32px;
}

h3 {
	position: relative;
	box-sizing: border-box;
	display: block;
	font-size: 25px;
}

h4 {
	position: relative;
	box-sizing: border-box;
	display: block;
	font-size: 20px;
}

h5 {
	position: relative;
	box-sizing: border-box;
	display: block;
	font-size: 18px;
}

a, p {
	position: relative;
	box-sizing: border-box;
	display: block;
	font-size: 18px;
}

span {
	position: relative;
	box-sizing: border-box;
	display: block;
	font-size: 18px;
}

.aLink {
	font-weight: var(--light);
	cursor: pointer;
	z-index: 2;
}

.aLink::before {
	content: '';
	width: calc(100% + 20px);
	height: 0%;
	background-color: var(--mediumGrayColor);
	position: absolute;
	bottom: -13%;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) all;
	z-index: -1;
}


.aLink:hover::before {
	height: 120%;
}

p {
	line-height: 1.4;
}

amp-img.contain img {
   object-fit: contain;
}

amp-img.cover img {
   object-fit: cover;
}

svg {
	display: block;
	box-sizing: border-box;
	position: relative;	
}

input {
	border: 1px solid var(--mediumGrayColor);
	border-radius: 5px;
	padding: 10px;
	width: 100%;
}

label {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
	opacity: 0;
	pointer-events: none;
}